.App {
  font-family: sans-serif;
  text-align: center;
}

model-viewer {
  width: 100%;
  height: 45rem;
  outline: none;
}

img {
  max-width: 250px;
}

.blog-title {
  background-color: rgb(50, 165, 218);
  height: 75px;
  padding-top: 10px;
}
